#tossResultsWaffle{
  float: left;
}

  .tossIcon{
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 1px 1px 0;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    border-radius: 10px;
  }
  
    .tossIconHeads{
  
    }
  
    .tossIconTails{
  
    }
    
.goodResult,
.badResult{
  font-weight: bold;
}

.infoBox{
  background: #9EDBEF;
  border: 1px solid #27B2D9;
  padding: 5px;
  font-size: small;
  font-weight: bold;
}